/* Card.css */

.recipe-container {
  width: 30%; /* Adjust as needed based on your layout */
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.recipe-container img {
  width: 100%;
  height: auto;
  max-height: 150px; /* Set maximum image height */
}

.recipe-container p {
  margin: 5px 0;
}
