video {
  object-fit: cover;
  position: relative;
  z-index: -1;
}
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: blur(4px);
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: white;
}

.text h1 {
  font-size: 45px;
  color: #79d70f;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}
